.sidebar {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: width 0.3s ease;
    height: 97%;
    margin: 15px;
    border-radius: 20px;

    // padding: 5px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

    &__logo {
        font-size: 1.5rem; // Tăng kích thước font cho nổi bật hơn
        font-weight: 800; // Chữ đậm hơn để làm nổi bật logo
        text-align: center;
        padding: 30px 10px 10px;
        white-space: nowrap;
        overflow: hidden;
        // font-family: 'Poppins', sans-serif; // Đổi font để tạo cảm giác hiện đại hơn
        // letter-spacing: 0.5px; // Tăng khoảng cách giữa các chữ cái
        color: #246BCE; // Màu chữ đồng bộ với chủ đề ứng dụng
    }

    &__menu {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 20px;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 0.7rem 1.3rem;
            margin: 0.6rem 0 0 0px;
            font-size: 1.5rem;
            font-weight: 600;
            color: #555555;
            transition: background-color 0.3s, color 0.3s, transform 0.2s;
            border-radius: 20px;
            cursor: pointer;

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.4rem;
                }
            }

            &__text {
                font-size: 1rem;
                overflow: hidden;
                white-space: nowrap;
            }

            // Hiệu ứng khi hover
            &:hover {
                background-color: rgba(36, 107, 206, 0.1); // Màu nền nhẹ khi hover
                color: #246BCE; // Màu chữ khi hover
                transform: scale(1.15); // Tăng nhẹ kích thước
            }

            // Hiệu ứng cho trạng thái active
            &.active {
                background-color: #246BCE;
                color: #fff;
                transform: scale(1.05); // Nổi bật hơn khi active
                transition: background-color 0.3s, color 0.3s, transform 0.4s;

                // Tránh hover làm thay đổi trạng thái active
                &:hover {
                    background-color: #1E5CAD;
                }
            }
        }

        .sidebar.collapsed &__item {
            padding: 0.7rem 0.7rem;
            // transition: width 0.5s ease;
        }
    }

    &__toggle {
        margin: 20px;
        padding: 10px;
        font-size: 1.2rem;
        text-align: center;
        background-color: #246BCE;
        border: none;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #1E5CAD;
        }
    }
}