.app__root {
    display: flex;
    background-color: #f0f0f0;
    height: 100vh;

    a {
        text-decoration: none;
        color: unset;
    }

    // Sidebar
    .sidebar-div {
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 20px;
        height: 100vh;
        overflow: hidden;
        transition: width 0.4s ease;

        &.collapsed {
            width: 117px;
        }

        &.expanded {
            width: 17vw;
            max-width: 300px;
        }
    }

    // Main Content for Collapsed Sidebar
    .app__main.collapsed {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-left: 117px;
        padding: 20px;
        transition: margin-left 0.4s ease;

        .header {
            height: 55px;
            position: fixed;
            transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

            &.header-hidden {
                transform: translateY(-100%);
                opacity: 0;
            }
        }

        .app__content {
            margin-top: 65px;
            flex: 1;
            overflow-y: auto;
            border: 1px solid red;
            background-color: #fff;
            border-radius: 20px;
        }
    }

    // Main Content for Expanded Sidebar
    .app__main.expanded {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-left: 15vw;
        padding: 20px;
        transition: margin-left 0.4s ease;

        .header {
            height: 55px;
            position: fixed;
            transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

            &.header-hidden {
                transform: translateY(-100%);
                opacity: 0;
            }
        }

        .app__content {
            margin-top: 65px;
            flex: 1;
            overflow-y: auto;
            border: 1px solid red;
            background-color: #fff;
            border-radius: 20px;
        }
    }
}