body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

* {
  box-sizing: border-box !important;
  transition: transform 0.5ms ease;
}

a {
  text-decoration: none;
  color: unset;
}


/* 
Âm (-1 đến -999): Background, hình ảnh nền.
0 - 99: Nội dung chính (main content).
100 - 999: Header, sidebar, menu cố định.
1000 - 9999: Modal, popover, dropdown.
10000 trở lên: Thông báo khẩn, loading overlay.
 */
